include setup.py

include *.txt
include *.yml
recursive-include executable *.ico
recursive-include executable *.py
requirements.txt
recursive-include executable *.spec

exclude tests/.coverage
global-exclude *.xml

global-exclude *.py[cod] __pycache__/* *.so *.dylib

# added by check-manifest
include *.py

exclude setup.py

# added by check-manifest
include *.in

exclude MANIFEST.in
